@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important; /* black bg */
  -webkit-text-fill-color: white !important; /* white text */
}
